<a href="https://colab.research.google.com/github/Syelding/hello-world/blob/main/College_Admissions_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Origin/ Credit of Data Source
SAMSON QIAN
https://www.kaggle.com/datasets/samsonqian/college-admissions

## College Admissions
 Todo- Include statistical analysis on student enrollment, SAT/ACT scores, and admissions rates

## Introduction
 1.1 Data Description
 1.2 Objective of this project

#Description of Data
1.1 Dataset of university application/enrollment statistics about students. Includes information about enrolled students' SAT/ACT scores and admission rates.

#Objective of this project
1.2. Take a deeper look at the College Admissions data and find possible trends in Tuition and Fees prices and admissions total versus enrollment total.

##Fetching the Data

In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 6.8 MB/s
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.3.5)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.21.6)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.7.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (4.64.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.8)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.3

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Data-Table 1.csv to Data-Table 1.csv

In [4]:
import pandas as pd
df = pd.read_csv('Data-Table 1.csv')
df. head()

,Name,Applicants total,Admissions total,Enrolled total,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 25th percentile score,SAT Critical Reading 75th percentile score,SAT Math 25th percentile score,SAT Math 75th percentile score,...,Percent of freshmen receiving federal grant aid,Percent of freshmen receiving Pell grants,Percent of freshmen receiving other federal grant aid,Percent of freshmen receiving state/local grant aid,Percent of freshmen receiving institutional grant aid,Percent of freshmen receiving student loan aid,Percent of freshmen receiving federal student loans,Percent of freshmen receiving other loan aid,Endowment assets (year end) per FTE enrollment (GASB),Endowment assets (year end) per FTE enrollment (FASB)
0,Alabama A & M University,6142.0,5521.0,1104.0,15.0,88.0,370.0,450.0,350.0,450.0,...,81.0,81.0,7.0,1.0,32.0,89.0,89.0,1.0,NaN,NaN
1,University of Alabama at Birmingham,5689.0,4934.0,1773.0,6.0,93.0,520.0,640.0,520.0,650.0,...,36.0,36.0,10.0,0.0,60.0,56.0,55.0,5.0,24136.0,NaN
2,Amridge University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.0,90.0,0.0,40.0,90.0,100.0,100.0,0.0,NaN,302.0
3,University of Alabama in Huntsville,2054.0,1656.0,651.0,34.0,94.0,510.0,640.0,510.0,650.0,...,31.0,31.0,4.0,1.0,63.0,46.0,46.0,3.0,11502.0,NaN
4,Alabama State University,10245.0,5251.0,1479.0,18.0,87.0,380.0,480.0,370.0,480.0,...,76.0,76.0,13.0,11.0,34.0,81.0,81.0,0.0,13202.0,NaN

##Attributes of the Data

In [14]:
df.shape

(1534, 108)

In [15]:
df. columns

Index(['Name', 'Applicants total', 'Admissions total', 'Enrolled total',
       'Percent of freshmen submitting SAT scores',
       'Percent of freshmen submitting ACT scores',
       'SAT Critical Reading 25th percentile score',
       'SAT Critical Reading 75th percentile score',
       'SAT Math 25th percentile score', 'SAT Math 75th percentile score',
       ...
       'Percent of freshmen  receiving federal grant aid',
       'Percent of freshmen receiving Pell grants',
       'Percent of freshmen receiving other federal grant aid',
       'Percent of freshmen receiving state/local grant aid',
       'Percent of freshmen receiving institutional grant aid',
       'Percent of freshmen receiving student loan aid',
       'Percent of freshmen receiving federal student loans',
       'Percent of freshmen receiving other loan aid',
       'Endowment assets (year end) per FTE enrollment (GASB)',
       'Endowment assets (year end) per FTE enrollment (FASB)'],
      dtype='object', length=108)

In [16]:
df.dtypes

Name                                                      object
Applicants total                                         float64
Admissions total                                         float64
Enrolled total                                           float64
Percent of freshmen submitting SAT scores                float64
                                                          ...
Percent of freshmen receiving student loan aid           float64
Percent of freshmen receiving federal student loans      float64
Percent of freshmen receiving other loan aid             float64
Endowment assets (year end) per FTE enrollment (GASB)    float64
Endowment assets (year end) per FTE enrollment (FASB)    float64
Length: 108, dtype: object

In [5]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.4.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling) (2022.1)

## Data Cleaning

In [6]:
import numpy as np 
import pandas as pd 
train = pd.read_csv("Data-Table 1.csv")

In [7]:
data = pd.read_csv("Data-Table 1.csv")

In [8]:
data.isnull().sum()

Name                                                        0
Applicants total                                          157
Admissions total                                          157
Enrolled total                                            157
Percent of freshmen submitting SAT scores                 277
                                                         ...
Percent of freshmen receiving student loan aid             42
Percent of freshmen receiving federal student loans        42
Percent of freshmen receiving other loan aid               42
Endowment assets (year end) per FTE enrollment (GASB)    1018
Endowment assets (year end) per FTE enrollment (FASB)     574
Length: 108, dtype: int64

#Replace missing values with O

In [9]:
df = data.fillna(0)

In [10]:
df.isnull().sum(0)

Name                                                     0
Applicants total                                         0
Admissions total                                         0
Enrolled total                                           0
Percent of freshmen submitting SAT scores                0
                                                        ..
Percent of freshmen receiving student loan aid           0
Percent of freshmen receiving federal student loans      0
Percent of freshmen receiving other loan aid             0
Endowment assets (year end) per FTE enrollment (GASB)    0
Endowment assets (year end) per FTE enrollment (FASB)    0
Length: 108, dtype: int64

#**#Exploratory Data Analysis**

# Analyze Clean Data

In [11]:
import sweetviz as sv
sweet_report = sv.analyze(df)
sweet_report.show_html('sweet_report.html')

                                             |          | [  0%]   00:00 -> (? left)

/usr/local/lib/python3.7/dist-packages/sweetviz/graph_associations.py:219: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_dataframe[feature] = pd.Series(dtype=float)

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

##. More Stattistical analysis
4.1 Summary statistics for numeric attribute
4.2 Summary and count for categorical attribute

In [12]:
import statistics

##** Questions**

# How much has tuition and fees risen comparing the tuition and fees for the year 2010-2011 to the most recent 2013-2014?

In [25]:
#Exract Tuition and fees, 2010-2011
df['Tuition and fees, 2010-11']

0        5800.0
1        5806.0
2        8360.0
3        7492.0
4        7164.0
         ...
1529        0.0
1530    27350.0
1531        0.0
1532    20444.0
1533    10920.0
Name: Tuition and fees, 2010-11, Length: 1534, dtype: float64

In [29]:
#Find mean of Tuition and Fees, 2010-2011
df['Tuition and fees, 2010-11'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        5800.0
1        5806.0
2        8360.0
3        7492.0
4        7164.0
         ...
1529        0.0
1530    27350.0
1531        0.0
1532    20444.0
1533    10920.0
Name: Tuition and fees, 2010-11, Length: 1534, dtype: float64>

In [30]:
#Extract Tution and Fees, 2013-2014
df['Tuition and fees, 2013-14']

0        7182.0
1        7206.0
2        6870.0
3        9192.0
4        8720.0
         ...
1529     5587.0
1530    31300.0
1531        0.0
1532    24222.0
1533    10920.0
Name: Tuition and fees, 2013-14, Length: 1534, dtype: float64

In [31]:
#Find the mean of Tuition and Fees, 2013-2014
df['Tuition and fees, 2013-14'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        7182.0
1        7206.0
2        6870.0
3        9192.0
4        8720.0
         ...
1529     5587.0
1530    31300.0
1531        0.0
1532    24222.0
1533    10920.0
Name: Tuition and fees, 2013-14, Length: 1534, dtype: float64>

#What is the sum of enrolled students versus total applicants?

In [20]:
#Extract the column titled "Applicant Total"
df['Applicants total']

0        6142.0
1        5689.0
2           0.0
3        2054.0
4       10245.0
         ...
1529      393.0
1530     3033.0
1531        0.0
1532      122.0
1533        0.0
Name: Applicants total, Length: 1534, dtype: float64

In [23]:
#Find sum of Applicants Total
df['Applicants total'].sum(axis=0)

8800673.0

In [22]:
#Extract the column titled "Enrolled total"
df['Enrolled total']

0       1104.0
1       1773.0
2          0.0
3        651.0
4       1479.0
         ...
1529      86.0
1530     127.0
1531       0.0
1532      20.0
1533       0.0
Name: Enrolled total, Length: 1534, dtype: float64

In [24]:
#Find sum of Enrolled total
df['Enrolled total'].sum(axis=0)

1436275.0

# What is the average of the estimated undergraduates enrolled versus the estimated graduates enrolled?

In [33]:
#Extract the average of Estimated undergraduates
df['Estimated undergraduate enrollment, total']

0        4055.0
1       11502.0
2         313.0
3        5696.0
4        5357.0
         ...
1529     1739.0
1530      504.0
1531      379.0
1532       68.0
1533       83.0
Name: Estimated undergraduate enrollment, total, Length: 1534, dtype: float64

In [35]:
#Find the average of Estimated undergraduates
df['Estimated undergraduate enrollment, total'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        4055.0
1       11502.0
2         313.0
3        5696.0
4        5357.0
         ...
1529     1739.0
1530      504.0
1531      379.0
1532       68.0
1533       83.0
Name: Estimated undergraduate enrollment, total, Length: 1534, dtype: float64>

In [36]:
#Extract the average of Estimated graduates
df['Estimated graduate enrollment, part time']

0        329.0
1       3462.0
2        189.0
3       1115.0
4        409.0
         ...
1529     112.0
1530       0.0
1531      65.0
1532       0.0
1533      28.0
Name: Estimated graduate enrollment, part time, Length: 1534, dtype: float64

In [37]:
#Find the average of Estimated graduates
df['Estimated graduate enrollment, part time'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        329.0
1       3462.0
2        189.0
3       1115.0
4        409.0
         ...
1529     112.0
1530       0.0
1531      65.0
1532       0.0
1533      28.0
Name: Estimated graduate enrollment, part time, Length: 1534, dtype: float64>

##Thank You!
Please leave any comments